.container {
    display: flex;
    flex-direction: column;
    background-color: #f6f6ef;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.container h1 {
    color: #ff8548;
    margin: 40px 0;
}

.cards {
    display: grid;
    row-gap: 16px;
}

.container button {
    width: fit-content;
    padding: 8px;
    color: white;
    background-color: #ff8548;
    border-radius: 5px;
    border: none;
    margin: 15px 0;
}

.container button:disabled {
    background-color: gray;
}
