.products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 25px;
}

h1 {
    font-size: 2rem;
    margin: 20px;
    text-align: center;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin: 0 40px 10px 0;
}

.pagination button {
    padding: 5px;
    cursor: pointer;
}

.active_page {
    background-color: #f0f0f0;
}
